<div class="row">
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
  <div class="col-4 col-md-4 col-lg-2">
    <a href="" class="text-decoration-none text-dark">
      <div class="d-flex flex-column justify-content-center border rounded p-2 mb-3">
        <app-product-image></app-product-image>
        <div>
          <h6 class="text-center mt-3 mb-1">Crevettes</h6>
          <small class="d-flex justify-content-center align-items-center">
            <i class="bi bi-clock-history me-1"></i>
            <span>23/02/2012</span>
          </small>
        </div>
      </div>
    </a>
  </div>
</div>
